a.page-scroll.contact{
	margin-right: 20px;
}
#headshot {
	border-radius: 50%;
}

#intro, #about, #skills, #portfolio, #contact{
	padding-top: 35px;
}

#skills{
	text-align: center;
}

.btn-group{
	padding: 20px;
}

.project-container{
	min-height:  100px;
}

.project-container .mix{
	display:  none;
}

#movie{
	margin-left: 35px;
}