body{
	font-family: 'Handlee', cursive;
	/* font-family: 'Sriracha', cursive; */
}


a.page-scroll.contact{
	margin-right: 20px;
}

.container-fluid{
	padding: 0px;
}

.jumbotron{
	margin-bottom: 0px;
}

.jumbotron h1{
	padding-left: 60px;
}

.headline.rotate-2 .headline-words{
	display: inline-block;
	perspective: 700px;
}

.headline.rotate-2 b{
	opacity: 0;
	transform-origin: 30% 100%;
	transform: translateZ(-20px) rotateX(90deg);
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
}

.headline.rotate-2 b.is-visible{
	position: relative;
	opacity: 1;
	transform: translateZ(-20px) rotateX(0deg);
}

.headline.rotate-2 b.is-hidden{
	transform:  rotateX(90deg);
	animation: rotate-2-out 1.2s;
}

@keyframes rotate-2-in{
	0%{
		transform: translateZ(-20px) rotateX(0deg);
		opacity: 0;
	}
	35% {
    	transform: translateZ(-20px) rotateX(120deg);
    	opacity: 0.5;
  	}
  	65% {
    	opacity: 0.7;
  	}
  	100% {
    	transform: translateZ(-20px) rotateX(180deg);
    	opacity: 1;
  	}
}

@keyframes rotate-2-out{
	0% {
    	transform: translateZ(-20px) rotateX(0deg);
    	opacity: 1;
  	}
  	35% {
    	transform: translateZ(-20px) rotateX(90deg);
    	opacity: 0.3;
  	}
  	65% {
    	opacity: 0;
  	}
  	100% {
    	transform: translateZ(-20px) rotateX(180deg);
    	opacity: 0;
 	}
}

.jumbotron p{
	padding-left: 80px;
	padding-top: 15px;
	padding-right: 20px;
}

@media screen and (max-width: 375px){
	.jumbotron h1{
		padding-top: 15px;
		padding-left: 30px;
	}
	.jumbotron p{
		padding-left: 45px;
	}
}

#intro{
	table-layout: fixed;
}

.bio p, .bio h2{
	margin-left: 60px;
	margin-right: 60px;
	text-align: center;
}

.bio p{
	padding-top: 10%;
	font-size: 20px;
}

.pic{
	text-align: center;
}

#headshot {
	border-radius: 50%;
	vertical-align: middle;
	border: 5px solid black;
}

@media screen and (max-width: 375px){
	#headshot{
		height: 340px;
	}
}

#intro, #about, #skills, #portfolio, #contact{
	padding-top: 35px;
	border-top: 10px solid black;
}

#intro{
	padding-bottom: 50px;
	background-color: #ffccee;
}

#about{
	background-color: #b3ffff;
}

#about p{
	margin-right: 60px;
	margin-left: 60px;
	font-size: 20px;
	padding-bottom: 40px;
}

#skills{
	text-align: center;
	background-color: #99ff99;
}

.skill{
	padding-top: 10px;
	padding-bottom: 10px;
}

.skill p{
	padding-top: 10px;
	font-size: 15px;
}

.skill img{
	height: 56px;
	width:  48px;
}

#portfolio{
	background-color: #dab3ff;
}

.btn-group{
	padding: 20px;
}

@media screen and (max-width: 375px){
	.btn-group{
		margin-left: 30%;
	}
}

.btn-group button{
	font-size: 15px;
}

.project-container{
	min-height: 100px;
}

.project-container .mix{
	display:  none;
}

.pro{
	height: 370px;
}

.title {
	font-size: 20px;
}

.tools{
	height: 40px;
	font-size: 15px;
}

#movie.img-responsive{
	display: inline-block;
}

img.img-responsive{
	margin: auto;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p{
  opacity: 1;
  margin-top: 15%;
  font-size: 18px;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


.repos{
	margin-top: 10px;
}

.repos .btn{
	font-size: 15px;
	margin-top: 10px;
}

#contact{
	background-color: #ffd699;
}

.in-touch{
	font-size: 20px;
	padding-bottom: 15px;
}

.list-inline{
	padding-bottom: 30px;
}

.list-inline .btn{
	font-size: 15px;
}

@media screen and (max-width: 375px){
	.list-inline li{
		display: block;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.contact-form input{
	float: left;
	width: 200px;
	border-radius: 5px;
}

textarea.form-control{
	border-radius: 5px;
}

.submit-button{
	padding-left: 75px;
}

.submit-button button{
	margin-bottom: 15px;
}

@media screen and (max-width: 375px){
	label{
		display: block;
		text-align: center;
	}
	.contact-form input{
		display: block;
		margin-left: 25%;
	}
	textarea.form-control{
		margin-left: 25%;
		width: 200px;
	}
	.submit-button{
		margin-left: 25%
	}
}

footer{
	color: white;
	background-color: #222222;
}

footer p{
	padding-top: 20px;
}

.back-to-top{
	margin-top: 20px;
	margin-bottom: 20px;
}

/* .thanks{
	display: none;
} */


