body{
	font-family: 'Handlee', cursive;
	/* font-family: 'Sriracha', cursive; */
}


a.page-scroll.contact{
	margin-right: 20px;
}

.container-fluid{
	padding: 0px;
}

.jumbotron{
	margin-bottom: 0px;
}

.jumbotron h1{
	padding-left: 60px;
}

.jumbotron p{
	padding-left: 80px;
	padding-top: 15px;
	padding-right: 20px;
}

#intro{
	table-layout: fixed;
}

.bio{
	/* vertical-align: middle; */
	height: 403px;
}

.bio p, .bio h2{
	margin-left: 60px;
	margin-right: 60px;
	text-align: center;
}

.bio p{
	padding-top: 10%;
	font-size: 20px;
}

.pic{
	text-align: center;
}

#headshot {
	border-radius: 50%;
	height: 403px;
	vertical-align: middle;
	border: 5px solid black;
}

#intro, #about, #skills, #portfolio, #contact{
	padding-top: 35px;
	border-top: 10px solid black;
}

#intro{
	padding-bottom: 50px;
	background-color: #ffccee;
}

#about{
	background-color: #b3ffff;
}

#about p{
	margin-right: 60px;
	margin-left: 60px;
	font-size: 20px;
	padding-bottom: 40px;
}

#skills{
	text-align: center;
	background-color: #99ff99;
}

.skill{
	padding-top: 10px;
	padding-bottom: 10px;
}

.skill p{
	padding-top: 10px;
	font-size: 15px;
}

#portfolio{
	background-color: #dab3ff;
}

.btn-group{
	padding: 20px;
}

.btn-group button{
	font-size: 15px;
}

.project-container{
	min-height: 100px;
}

.project-container .mix{
	display:  none;
}

.pro{
	height: 370px;
}

.title {
	font-size: 20px;
}

.tools{
	height: 40px;
	font-size: 15px;
}

#movie.img-responsive{
	display: inline-block;
}

.repos{
	margin-top: 10px;
}

.repos .btn{
	font-size: 15px;
}

#contact{
	background-color: #ffd699;
}

.in-touch{
	font-size: 20px;
	padding-bottom: 15px;
}

.list-inline{
	padding-bottom: 30px;
}

.list-inline .btn{
	font-size: 15px;
}

footer{
	color: white;
	background-color: #222222;
}

footer p{
	padding-top: 20px;
}

.back-to-top{
	margin-top: 20px;
	margin-bottom: 20px;
}


